page-home {
    .btn-facebook {
        color: white;
        background: #3b5998;
    }

    .btn-google-plus {
        color: white;
        background: #dd4b48;
    }

    .btn-youtube {
        color: white;
        background: #ff4b39;
    }

    .btn-linkedin {
        color: white;
        background: #007bb6;
    }

    .btn-twitter {
        color: white;
        background: #25acee;
    }
    
    .btn-mail {
        color: white;
        background: #512da8;
    }



}
